<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     Add Employee
    
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active"> Add Employee</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title"> Please enter complete details to add any new employee</h3>

    </div>
    <!-- /.box-header -->
    <form role="form">
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Employee Group</label>
            <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Staff</option>
              <option>Admin</option>
              </select>
          </div>
           <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" >
            </div>
             <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="form-group">
            <label for="image">Profile Picture</label>
            <input type="file" name="userfile" id="image" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"><div class="bootstrap-filestyle input-group"><input type="text" class="form-control " 
            disabled=""> <span class="group-span-filestyle input-group-btn" 
            tabindex="0"><label for="image" class="btn btn-default "><span class="fa fa-folder-open"></span> Choose file</label></span>
            </div>
            </div>
            <div class="form-group">
            <label>Employee Status</label>
            <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Inactive</option>
              <option>Active</option>
              </select>
          </div>
                
          </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Assign Stores</label>
            <select class="form-control select2" multiple="multiple" data-placeholder="Select Stores"
                    style="width: 100%;">
              <option>Store 1</option>
              <option>Store 2</option>
              <option>Store 3</option>
             <option>Store 4</option>
             <option>Store 5</option>
             <option>Store 6</option>
             <option>Store 7</option>
            </select>
          </div>
           <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" >
            </div>
             <div class="form-group">
              <label for="exampleInputEmail1">Contact Number</label>
              <input type="mobile" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="form-group">
            <label>Administrative rights</label>
            <select class="form-control select2" multiple="multiple" data-placeholder="Select Stores"
                    style="width: 100%;">
              <option>rights 1</option>
              <option>rights 2</option>
              <option>rights 3</option>
             <option>rights 4</option>
             <option>rights 5</option>
             <option>rights 6</option>
             <option>rights 7</option>
            </select>
          </div>
            
        </div>
        
        <!-- /.col -->
      </div><br>
       <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      <!-- /.row -->
    </div>
   
   </form>
   </div>
  
 
    </div>
    <!-- /.col (left) -->
  

</section>
<!-- /.content -->