<!DOCTYPE html>
<html>
  <head>
    <% include template/head.ejs%>
      </head>
      
      <body class="hold-transition skin-blue sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
    <% include template/header.ejs%>

    <% include template/aside.ejs%>

    <% include content/mPOS_content.ejs%>

    <% include template/footer.ejs%>

    

    <div class="control-sidebar-bg"></div>
</div>

<% include template/bottom_js.ejs%>


</body>
</html>