<aside class="main-sidebar">
    
    <section class="sidebar">
    
      <ul class="sidebar-menu" data-widget="tree">
        
        <li>
         <a href="/welcome">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              
            </span>
          </a>
        </li>
		<li>
          <a href="/mPOS">
            <i class="fa fa-th"></i> <span>POS</span>
            <span class="pull-right-container">
              
            </span>
          </a>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa fa-shopping-cart"></i> <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/list_sale"><i class="fa fa-circle-o"></i> List Sales</a></li>
            <li><a href="/open_sale"><i class="fa fa-circle-o"></i> List Opened Bills</a></li>
          </ul>
        </li>
		
		<li class="treeview">
         <a href="#">
            <i class="fa fa-building-o"></i> <span> Manage Stores</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/list_store"><i class="fa fa-circle-o"></i> List Stores</a></li>
            <li><a href="/add_store"><i class="fa fa-circle-o"></i> Add New Store</a></li>
          </ul>
        </li>
		
		  <li class="treeview">
          <a href="#">
            <i class="fa fa-barcode"></i> <span>Products</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/list_products"><i class="fa fa-circle-o"></i> List Products</a></li>
            <li><a href="/add_product"><i class="fa fa-circle-o"></i> Add Products</a></li>
          </ul>
        </li>
		
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Categories</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/list_categories"><i class="fa fa-circle-o"></i> List Categories</a></li>
            <li><a href="/add_category"><i class="fa fa-circle-o"></i> Add Category</a></li>
          </ul>
        </li>
		
		<li class="treeview">
          <a href="#">
            <i class="fa fa-plus"></i> <span>Purchases</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/list_purchases"><i class="fa fa-circle-o"></i> List Purchases</a></li>
            <li><a href="/add_purchase"><i class="fa fa-circle-o"></i> Add Purchases</a></li>
			
			<li class="divider"></li>
			  <li><a href="/list_expenses"><i class="fa fa-circle-o"></i> List Expenses</a></li>
            <li><a href="/add_expenses"><i class="fa fa-circle-o"></i> Add Expenses</a></li>
			
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa fa-bar-chart-o"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="examples/daily_sales.html"><i class="fa fa-circle-o"></i> Daily Sales</a></li>
            <li><a href="examples/monthly_sales.html"><i class="fa fa-circle-o"></i> Monthly Sales</a></li>
			<li><a href="examples/Sales_report.html"><i class="fa fa-circle-o"></i> Sales Report</a></li>
			<li class="divider"></li>
			  <li><a href="examples/X_report.html"><i class="fa fa-circle-o"></i> X - Report</a></li>
            <li><a href="examples/Z_report.html"><i class="fa fa-circle-o"></i> Z - Report</a></li>
			<li class="divider"></li>
			  <li><a href="examples/Registers_report.html"><i class="fa fa-circle-o"></i> Registers Report</a></li>
			  <li class="divider"></li>
            <li><a href="examples/top_products.html"><i class="fa fa-circle-o"></i> Top Products</a></li>
			<li><a href="examples/products_reports.html"><i class="fa fa-circle-o"></i> Product Report</a></li>
			
          </ul>
        </li>
		
		<li class="treeview">
          <a href="#">
            <i class="fa fa-credit-card"></i> <span>Gift Cards</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="examples/list_gift_cards.html"><i class="fa fa-circle-o"></i> List Gift Cards</a></li>
            <li><a href="examples/add_gift_cards.html"><i class="fa fa-circle-o"></i> Add Gift Card</a></li>
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>People</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="examples/list_customers.html"><i class="fa fa-circle-o"></i> List Customers</a></li>
            <li><a href="examples/add_customer.html"><i class="fa fa-circle-o"></i> Add Customer</a></li>
			<li class="divider"></li>
			  <li><a href="examples/list_suppliers.html"><i class="fa fa-circle-o"></i> List Suppliers</a></li>
            <li><a href="examples/add_supplier.html"><i class="fa fa-circle-o"></i> Add Supplier</a></li>
			<li class="divider"></li>
			  <li><a href="examples/list_employees.html"><i class="fa fa-circle-o"></i> List Employees</a></li>
            <li><a href="/add_employee"><i class="fa fa-circle-o"></i> Add Employee</a></li>
			
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="examples/printers.html"><i class="fa fa-circle-o"></i> Printers</a></li>
            <li><a href="examples/add_printers.html"><i class="fa fa-circle-o"></i> Add Printer</a></li>
			<li class="divider"></li>
			 <li><a href="examples/payment_terminals.html"><i class="fa fa-circle-o"></i> Payment Terminals</a></li>
            <li><a href="examples/add_payment_terminal.html"><i class="fa fa-circle-o"></i> Add Payment Terminal</a></li>
			<li class="divider"></li>
			<li><a href="examples/backups.html"><i class="fa fa-circle-o"></i> Backups</a></li>
			<li class="divider"></li>
			<li><a href="examples/support.html"><i class="fa fa-circle-o"></i> Support</a></li>
          </ul>
        </li>
		   
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>